.Introduction {
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: white;
}

.body {

    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-style: normal;

}

.part1 {
    text-align: left;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;


}
.part2 {
    text-align: left;
    font-size: 25px;
    line-height: 1.5;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.part3 {
    text-align: left;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
      
}
.part4 {
    text-align: left;

}